<div>
	<header class="flex border-bottom">
		<a href="javascript:;" page-back><i class="fa fa-angle-left back-icon"></i></a>
		<div class="text-center flex-item1">收藏列表</div>
		<a href="javascript:;"></a>
	</header>
	<div class="scroll" [style.top.px]="50" scroll (loadMore)="loadMore()">
		<div class="list-time border-bottom">{{today}}</div>
		<ul class="list">
			<li class="list-item" *ngFor="let item of list; let i = index">
				<a class="flex" [routerLink]=" ['./detail',item.id,{accountId: item.accountId}]">
					<div class="list-left">
						<div class="flex flex-middle"><i class="fa fa-picture-o" style="color:#fff;" [style.font-size.px]="32"></i></div>
					</div>
					
					<div class="overflow-h flex-item1">
						<div class="p-b-sm">
							<span class="pull-right p-l-xs">{{item.callLength | myTime}}</span>
							<span class="ellipsis">{{item.accountName}}</span>
						</div>
						<div class="user">
							<i class="pull-right fa fa-chevron-right arrow-right"></i>
							<p>
								<span>{{item.contactName}}</span>
								<span class="m-l-xs">{{item.phoneNum}}</span>
							</p>
							<p>拨打时间：{{item.dialTime | datetime}}</p>
						</div>
						<div class="list-oprate">
							<a href="javascript:;" (click)="toggleModal($event, i)"><i class="fa fa-edit"></i></a>
							<!-- <a class="m-l-xs" href="javascript:;"><i class="fa fa-share-alt"></i></a> -->
							<a class="m-l-xs" href="javascript:;" (click)="favToggle($event, i)"><i class="fa fa-minus-circle"></i></a>
						</div>
					</div>
				</a>
			</li>
			<li [style.padding.px]="'40px 0'" class="text-center" *ngIf="!list || list.length === 0">暂无数据</li>
		</ul>
		<div *ngIf="list && list.length > params.max" class="more">{{isMore ? '加载中。。。' : '没有更多了'}}</div>
	</div>
	
</div>
<div class="modal fade" dhb-modal [toggle]="showModal" (click)="toggleModal()">
    <div stop-bubble class="modal-content" [style.width.%]="90">
        <div class="modal-header">
            <a class="modal-close" href="javascript:;" (click)="toggleModal()">×</a>
            <h4 class="modal-title">添加评论</h4>
        </div>
        <div class="modal-body">
            <div [style.padding]="'20px'">
            	<textarea rows="5" [style.width.%]="100" #text></textarea>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="button" class="btn btn-info m-r-sm" (click)="addComment(text.value)">确定</button>
            <button type="button" class="btn btn-default" (click)="toggleModal()">取消</button>
        </div>
    </div>
</div>
<div class="msg" [class.hide]="!showMsg">{{message}}</div>