<div class="detail">
	<header class="flex border-bottom">
		<a href="javascript:;" page-back><i class="fa fa-angle-left back-icon"></i></a>
		<div class="text-center flex-item1">听音明细</div>
		<a href="javascript:;"></a>
	</header>
	<div [style.padding-top.px]="50">

		
	</div>
	<div class="player-wrap">
		<div class="voice flex flex-middle">
			<div class="voice-minus">
				<i class="fa fa-volume-down" (click)="volumeCtrl('minus')"></i>
			</div>
			<div class="voice-bar flex-item1">
				<div [style.width.%]="volumePercent"></div>
				<a href="javascript:;" [style.left.%]="volumePercent"></a>
			</div>
			<div class="voice-plus">
				<i class="fa fa-volume-up" (click)="volumeCtrl('plus')"></i>
			</div>
		</div>
		<div class="flex flex-middle">
			<div>
				<i class="fa fa-heart-o"></i>
			</div>
			<div class="flex-item1 text-center">
				<div>
					<i class="fa fa-step-backward" (click)="Prev()"></i>
					<i class="m-l-lg fa" [ngClass]="{'fa-play':!PlayData().IsPlaying,'fa-pause': PlayData().IsPlaying}" (click)="Toggle()"></i>
					<i class="m-l-lg fa fa-step-forward"(click)="Next()"></i>
				</div>
			</div>
			<div>
				<i class="fa fa-bookmark"></i>
			</div>
		</div>
		<div class="voice-bar" [ngStyle]="{'margin-top':'30px'}" (click)="Skip($event)">
			<div [ngStyle]="{'width': PlayData().Current / PlayData().During * 100 + '%'}"></div>
			<a href="javascript:;" [ngStyle]="{'left': PlayData().Current / PlayData().During * 100 + '%'}"></a>
		</div>
	</div>
	
</div>
<div class="msg" [class.hide]="!showMsg">{{message}}</div>
