<div class="detail" [@flyInOut]="state" style="position: absolute;width: 100%;top: 0;">
	<header class="flex border-bottom">
		<a href="javascript:;" page-back><i class="fa fa-angle-left back-icon"></i></a>
		<div class="text-center flex-item1">听音明细</div>
		<a href="javascript:;"></a>
	</header>
	<div [style.padding-top.px]="50">
		<div class="detial-block">
			<h3>黄鹤</h3>
			<p><i class="fa fa-phone"></i><span class="m-l-sm">13882458999</span></p>
			<p>
				<span>2017年1月11日 10:25:03</span>
				<span class="m-l-md">
					<i class="fa fa-clock-o"></i><span class="m-l-xs">01:42</span>
				</span>
			</p>
		</div>
		<div class="detial-block">
			<h3>浙江钜业机械设备有限公司</h3>
			<p>双轴胶带复卷机|单轴胶带复卷机|胶带分条机。浙江义乌市上溪工业园区四通路102号</p>
			<p>2016年有效沟通次数: 2次</p>
			<p>出口趋势：全球356272 ↑↑ 土耳其49000 ↑↑</p>
			<p>出口规模 ：全球小型企业 |土耳其小型企业 </p>
			<p>其他核心信息：中小开</p>
		</div>
		<div class="detial-block">
			<ul class="msg-list">
				<li>
					<h4><span>丁超</span><span>2017/1/12</span><i class="pull-right fa fa-volume-up"></i></h4>
					<p>最近都比较忙不在余姚，王助理会在的，约下王助理。</p>
				</li>
				<li>
					<h4><span>丁超</span><span>2017/1/12</span><i class="pull-right fa fa-volume-up"></i></h4>
					<p>最近都比较忙不在余姚，王助理会在的，约下王助理。</p>
				</li>
				<li>
					<h4><span>丁超</span><span>2017/1/12</span><i class="pull-right fa fa-volume-up"></i></h4>
					<p>告知他余姚的补贴已经在下放了。然后推了一下明年的项目，现在在装柜有点忙，晚点再联系。</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="player-wrap">
		<div class="voice flex flex-middle">
			<div class="voice-minus">
				<i class="fa fa-volume-down" (click)="volumeCtrl('minus')"></i>
			</div>
			<div class="voice-bar flex-item1">
				<div [style.width.%]="volumePercent"></div>
				<a href="javascript:;" [style.left.%]="volumePercent" style="margin-left: -2px;"></a>
			</div>
			<div class="voice-plus">
				<i class="fa fa-volume-up" (click)="volumeCtrl('plus')"></i>
			</div>
		</div>
		<div class="flex flex-middle">
			<div>
				<i class="fa fa-heart-o"></i>
			</div>
			<div class="flex-item1 text-center">
				<div>
					<i class="fa fa-step-backward" (click)="Prev()"></i>
					<i class="m-l-lg fa" [ngClass]="{'fa-play':PlayData().IsPlaying,'fa-pause': !PlayData().IsPlaying}" (click)="Toggle()"></i>
					<i class="m-l-lg fa fa-step-forward"(click)="Next()"></i>
				</div>
			</div>
			<div>
				<i class="fa fa-bookmark"></i>
			</div>
		</div>
		<div class="voice-bar" [ngStyle]="{'margin-top':'30px'}" (click)="Skip($event)">
			<div [ngStyle]="{'width': PlayData().Current / PlayData().During * 100 + '%'}"></div>
			<a href="javascript:;" [ngStyle]="{'left': PlayData().Current / PlayData().During * 100 + '%','margin-left':'-2px'}"></a>
		</div>
	</div>
	
</div>
