<div class="detail">
	<header class="flex border-bottom">
		<a href="javascript:;" page-back><i class="fa fa-angle-left back-icon"></i></a>
		<div class="text-center flex-item1">听音明细</div>
		<a href="javascript:;"></a>
	</header>
	<div [style.padding-top.px]="50" *ngIf="detail">

		<div class="detial-block">
			<h3>{{detail.name}}</h3>
			<!-- <ng-template>
				<p>双轴胶带复卷机|单轴胶带复卷机|胶带分条机。浙江义乌市上溪工业园区四通路102号</p>
				<p>2016年有效沟通次数: 2次</p>
				<p>出口趋势：全球356272 ↑↑ 土耳其49000 ↑↑</p>
				<p>出口规模 ：全球小型企业 |土耳其小型企业 </p>
				<p>其他核心信息：中小开</p>
			</ng-template> -->
		</div>

		<div class="detial-block" *ngIf="list">
			<h3><span class="more-voice" *ngIf="list.length > 1" (click)="toggleMore()">更多录音</span>{{currCall.contactName}}</h3>
			<p><i class="fa fa-phone"></i><span class="m-l-sm">{{currCall.phoneNum}}</span></p>
			<p>
				<span>{{currCall.dialTime | datetime}}</span>
				<span class="m-l-md">
					<i class="fa fa-clock-o"></i><span class="m-l-xs">{{currCall.callLength | myTime}}</span>
				</span>
			</p>
		</div>
		
		<div class="detial-block" [class.hide]="!showMore" style="overflow: auto;">
			<ul class="msg-list">
				<li *ngFor="let item of list; let i = index">
					<div (click)="choiceVoice(i)">
						<h4><span>{{item.contactName}}</span><span class="m-l-xs">{{item.dialTime | date:'yyyy/MM/dd'}}</span><i class="pull-right fa fa-volume-up"></i></h4>
						<p>{{item.description}}</p>
					</div>
					
					<div class="hide text-right">
						<h4><span>{{item.contactName}}</span><span class="m-l-xs">{{item.dialTime | date:'yyyy/MM/dd'}}</span></h4>
						<p>{{item.description}}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="player-wrap">
		<div class="voice flex flex-middle">
			<div class="voice-minus">
				<i class="fa fa-volume-down" (click)="volumeCtrl('minus')"></i>
			</div>
			<div class="voice-bar flex-item1">
				<div [ngStyle]="{'width': volumePercent + '%'}"></div>
				<a [ngStyle]="{'left': volumePercent + '%'}" href="javascript:;"></a>
			</div>
			<div class="voice-plus">
				<i class="fa fa-volume-up" (click)="volumeCtrl('plus')"></i>
			</div>
			<div>{{PlayData().Current + ':' + PlayData().During}}</div>
		</div>
		<div class="flex flex-middle">
			<div>
				<i class="fa fa-heart-o"></i>
			</div>
			<div class="flex-item1 text-center">
				<div>
					<i class="fa fa-step-backward" (click)="Prev()"></i>
					<i class="m-l-lg fa" [ngClass]="{'fa-play':!PlayData().IsPlaying,'fa-pause': PlayData().IsPlaying}" (click)="Toggle()"></i>
					<i class="m-l-lg fa fa-step-forward"(click)="Next()"></i>
				</div>
			</div>
			<div>
				<i class="fa fa-bookmark"></i>
			</div>
		</div>
		<div class="voice-bar" [ngStyle]="{'margin-top':'30px'}" (click)="Skip($event)">
			<div [ngStyle]="{'width': PlayData().Current / PlayData().During * 100 + '%'}"></div>
			<a href="javascript:;" [ngStyle]="{'left': PlayData().Current / PlayData().During * 100 + '%'}"></a>
		</div>
	</div>
	
</div>
<div class="msg" [class.hide]="!showMsg">{{message}}</div>
